.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 33.51%, rgba(198, 88, 157, 0.2) 100%), #FFFFFF;
}

.HeroImageWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw;
}

.Container {
  width: 80%;
}

.AboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.About{
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

.NavWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.Nav{
  display: flex;
  gap: 15px;
  text-align: left;
  padding: 10px;
}

.Nav:Hover{
  color:  #C6589D;
}

.Header {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
}

.Data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
}