.Wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 33.51%, rgba(198, 88, 157, 0.2) 100%), #FFFFFF;
}

.GalleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 33.51%, rgba(198, 88, 157, 0.2) 100%), #FFFFFF;
}

/* .HeroImageWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw;
  height: 1563px;
  top: -295px;
} */

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center
}

.AboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.About{
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

.Info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.GalleryAbout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.Gallery{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Header {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
}

.Data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
}

@media (max-width: 414px) {

  .Gallery {
    flex-direction: column;
  }
  .GalleryAbout {
    width: 75%;
  }

  .Info {
    width: 75%;
  }
}

@media (max-width: 820px) {

  .Gallery {
    flex-direction: column;
  }
}